.social-login
    button
        span.social-login--github
            i.fab.fa-github
        |Continue with Github
    
    button
        span.social-login--facebook
            i.fab.fa-facebook
        |Continue with facebook